section{
    display: flex;
}
#head{
    color: rebeccapurple;
font-size: 50px;
}
.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500; color: rgb(70, 87, 87); font-size: 20px; display: inline;
}
.half{
    width: 50%;
    padding: 20px;
}
.half img{
    width: 80%;
}
#anchor{
 text-decoration: none; border-radius: 5px;
 color: rgb(15, 15, 15); padding: 10px 30px;
font-size:large;font-weight: 800; background-image: linear-gradient(rgb(226, 144, 22), yellow);
}