body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
#one{
    color: tomato;
}
section{
    display: flex;
}
.one{
    padding: 20px;
    width: 80%;
}
.one img{
    border: 80%;
    width: 80%;
    border-radius: 20px;
}
.anchor{
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    padding: 10px 40px;
    color: wheat;
    text-decoration: none;
    font-weight: 800;
}
p{
    border: 50%;
}
#header-one{
    color: tan;
}